<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sqliteExtFactory" connectionString="Data Source =.\extfactorysqlite.db; Version = 3;" providerName="System.Data.SqlClient" />
		<add name="sqlServerExtFactory" connectionString="Server=.\SQLEXPRESSNOVA;Database=extfactory;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>